# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosysytems are summarized.

### Some of the popular languages that Data Scientists use are:
1 Python
2 R
3 SQL

# Some of the commonly used libraries used by Data Scientists include:
1 NumPy
2 Panadas
3 Matplotlib
4 Scikit

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Anaconda |
| MySQL|
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
x= (200/60)
print(x)

3.3333333333333335

|_Objectives:_|
---------------------
|1.List popular languages for data science|
|2. List popular tools for data science|
|3. list the name of relational databases|
|4. list popular tools for AI/ML|

_Author_
----------
Sam Shanu is the author of this line.